@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h3 style="text-align:center">To Access the data of this website, First registerd Yourself.</h3><br />
    <h5 style="text-align:center"><a asp-action="Register">Go To Registration Page</a></h5>
</div>